.Palette {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.Palette-footer {
  height: 3%;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.footer-emoji {
  margin: 0 15px;
  font-size: large;
}
